.slider {
    width: 80%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
#scroll {
    position: fixed;
    right: 30px;
    bottom: 100px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #fd5f00;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
  }

  #scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  #scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
  .btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
  }
  a.gflag {
    vertical-align: middle;
    font-size: 16px;
    padding: 1px 0;
    background-repeat: no-repeat;
    background-image: url(../images/16.png);
  }

  a.gflag img {
    border: 0;
  }

  a.gflag:hover {
    background-image: url(../images/16a.png);
  }

  #goog-gt-tt {
    display: none !important;
  }

  .goog-te-banner-frame {
    display: none !important;
  }

  .goog-te-menu-value:hover {
    text-decoration: none !important;
  }

  body {
    top: 0 !important;
  }

  #google_translate_element2 {
    display: none !important;
  }